.carousel {
    height: 83% !important;
    .carousel-list {
        height: 300px !important;
        margin: none !important;
        padding: none !important;
        width: 200px !important;
        .carousel-slide {
            height: 250px !important;
            position: relative !important;
            background-position: top !important;
            .carousel-slide-content {
                position: relative !important;
            }
            .carousel-slide-overlay {
                background-color: none !important;
                height: 0 !important;
                width: 0 !important;
            }
        }
    }
}
.list-title {
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 110px;
    font-size: 30px;
    font-weight: bold;
}
.videogame__list-section {
    background: #d9dede;
    padding-left: 60px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    .favourites__link {
        outline: none;
        border: none;
    }
    .favorite__product {
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 420px;
        width: 250px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
        .product__options {
            display: inline-flex;
            .product__onsale {
                width: 100px;
                height: 40px;
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 20px;
                margin-top: 7px;
                background: red;
                margin-right: 5px;
                .onsale {
                    display: flex;
                    justify-content: center;
                    font-weight: bold;
                    font-size: 16px;
                    padding-top: 10px;
                }
            }
            .product__buy {
                width: 50px;
                height: 40px;
                margin-left: 5px;
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 20px;
                margin-top: 7px;
                background: #f0da14;
                .buy-icon {
                    display: flex;
                    justify-content: center;
                    font-weight: bold;
                    font-size: 16px;
                    padding-top: 10px;
                }
            }
        }
        .imagen {
            width: 200px;
        }
        .product__name {
            display: flex;
            justify-content: center;
            background: #f0da14;
            padding-top: 10px;
            width: 100%;
            height: 30px;
            font-size: 16px;
            font-weight: bold;
        }
        .first__price-options {
            display: inline-flex;
            margin-bottom: 5px;
            .stroke {
                padding-left: 15px;
                padding-right: 15px;
                font-size: 20px;
                position: relative;
                line-height: 1em;
                display: flex;
                align-items: center;
            }
            .stroke::after {
                border-bottom: 0.125em solid red;
                content: "";
                width: 65px;
                position: absolute;
                left: 8;
                top: 40%;
                transform: rotate(-15deg);
            }
            .notstroke {
                padding-right: 15px;
                padding-left: 15px;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
    .favorite__product:hover {
        cursor: pointer;
        transform: scale(1.03);
        background: #f0da14;
        .product__name {
            background: white;
        }
        .product__buy:hover {
            background: white;
        }
    }
    .favorite__product-notsale {
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 420px;
        width: 250px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
        .product__buy-notsale {
            width: 50px;
            height: 41px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            background: #f0da14;
            .buy-icon-notsale {
                display: flex;
                justify-content: center;
                font-weight: bold;
                font-size: 16px;
                padding-top: 10px;
            }
        }
        .imagen-notsale {
            width: 200px;
            margin-top: -2px
        }
        .product__name-notsale {
            display: flex;
            justify-content: center;
            background: #f0da14;
            padding-top: 10px;
            width: 100%;
            height: 30px;
            font-size: 16px;
            font-weight: bold;
        }
        .original__price {
            padding-right: 15px;
            padding-left: 15px;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 9px;
        }
    }
    .favorite__product-notsale:hover {
        cursor: pointer;
        transform: scale(1.03);
        background: #f0da14;
        .product__name-notsale {
            background: white;
        }
        .product__buy-notsale:hover {
            background: white;
        }
    }
    // .videogame-section {
    //     display: flex;
    //     .videogame-container {
    //         width: 200px;
    //         height: 355px;
    //         border: 2px solid #161616;
    //         border-radius: 20px;
    //         margin: 10px;
    //         padding: 20px;
    //         text-align: center;
    //         .add__favourites-icon {
    //             font-size: 24px;
    //             margin-left: 150px;
    //         }
    //         .add__favourites-icon:hover {
    //             color: red;
    //             cursor: pointer;
    //         }
    //         .onsale-container {
    //             height: 27px;
    //             display: flex;
    //             .onsale {
    //                 z-index: -1;
    //                 margin-top: -20.5px;
    //                 background: rgb(250, 124, 124);
    //                 height: 47px;
    //                 border-bottom-left-radius: 20px;
    //                 border-bottom-right-radius: 20px;
    //                 .onsale-content {
    //                     margin-top: 12.5px;
    //                     margin-bottom: 15px;
    //                     text-align: center;
    //                     font-size: 18px;
    //                     font-weight: bold;
    //                 }
    //                 .onsale-line {
    //                     width: 72px;
    //                     margin-top: -16px;
    //                     border-bottom: 15px solid red;
    //                     border-bottom-left-radius: 20px;
    //                     border-bottom-right-radius: 20px;
    //                 }
    //             }
    //             .add__favourites-icon-onsale {
    //                 margin-left: 91px;
    //                 font-size: 24px;
    //             }
    //             .add__favourites-icon-onsale:hover {
    //                 color: red;
    //                 cursor: pointer;
    //             }
    //         }
    //         .videogame-title {
    //             border-top: 2px solid #161616;
    //             padding-top: 8px;
    //             padding-bottom: 8px;
    //             font-weight: bold;
    //             font-size: 16px;
    //             background: #f0da14;
    //         }
    //         .price {
    //             display: flex;
    //             flex-direction: column;
    //             justify-content: center;
    //             background: #f1eab2;
    //             font-weight: bold;
    //             .notsale {
    //                 font-size: 20px;
    //                 padding-bottom: 1px;
    //             }
    //             .notstrikeout {
    //                 color: #161616;
    //                 margin-left: 50px;
    //                 margin-bottom: 0px !important;
    //             }
    //             .notstrikeout:hover {
    //                 text-decoration: underline;
    //             }
    //             .strikeout {
    //                 color: #161616;
    //                 font-size: 20px;
    //                 line-height: 1em;
    //                 position: relative;
    //                 display: flex;
    //                 align-items: center;
    //                 margin-left: 10px;
    //                 padding-bottom: 12px;
    //             }
    //             .strikeout::after {
    //                 border-bottom: 0.125em solid red;
    //                 content: "";
    //                 width: 65px;
    //                 position: absolute;
    //                 top: 30%;
    //                 transform: rotate(-15deg);
    //             }
    //         }
    //     }
    //     .videogame-container:hover {
    //         background: #f0da14;
    //         transform: scale(1.09);
    //         .onsale {
    //             z-index: 0;
    //         }
    //         .videogame-title {
    //             background: #161616;
    //             color: white;
    //         }
    //         .onHover {
    //             border-bottom: 2px solid #161616;
    //         }
    //         .price {
    //             background: white;
    //             height: 82px;
    //         }
    //     }
    // }
}
