<div class="videogame__list-section" *ngIf="videogames$ | async as videogame">
    <div *ngFor="let videogame of videogame" class="videogame-section">
        <div routerLink="/product/{{videogame._id}}" class="videogame-container">
            <mat-carousel class="slider" timings="400ms" [autoplay]="true" interval='4000'>
                <mat-carousel-slide class="slide" height="100%" *ngFor="let slide of videogame.platform.cover" [image]="slide" [hideOverlay]="false"></mat-carousel-slide>
            </mat-carousel> 
            <p class="videogame-title">{{videogame.name}}</p>
        </div>
    </div>
</div>