.drawer {
    position: fixed;
    height: 100vh;
    min-width: 25%;
    border-right: 1px solid #ccc;
    background:rgb(202, 201, 201);
    margin-top: 64px;
}

.drawer .header {
    position: absolute;
    right: 0;
    justify-content: space-between;
}

.drawer .contents {
    padding: 16px;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    display: none;
}

.main.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid #ccc;
    background: #000000;
    color: #ffffff;
}

.main {
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    background: #ffffff;
}

.main.contents {
    min-height: 100vh;
    margin-top: 64px; /* height of header */
    padding: 16px;
}
  
.main.footer {
    position: fixed;
    border-top: 1px solid #ccc;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background: #000000;
}

mat-drawer {
    ul {
        padding: 0;
        li {
          display: grid;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          list-style: none;
          cursor: pointer;
          margin: 10px;
          padding: 10px;
          background-color: #500c26;
          border-radius: 5px;
          img {
            height: 20px;
            color: #ffffff;
          }
        }
    }
}

.header-icon__left {
    cursor: pointer;
    margin-right: 20px;
}

.header-icon__left:hover {
    color: #ecbd25;
}

.header-icon__right {
    margin-left: 20px;
}


  