<mat-toolbar class="main header">
    <div class="header__left">
        <mat-icon class="header-icon__left" *ngIf="!drawer.opened" (click)="drawer.toggle()">menu</mat-icon>
        <mat-icon class="header-icon__left" *ngIf="drawer.opened" (click)="drawer.toggle()">exit_to_app</mat-icon>
        <mat-icon>today</mat-icon>
    </div>
    <div>Press Start Logo</div>
    <div class="header__right">
        <mat-icon>account_circle</mat-icon>
        <mat-icon class="header-icon__right">shopping_cart</mat-icon>
    </div>
</mat-toolbar>

<mat-drawer-container [class.drawer-opened]="drawer.opened" class="example-container">
	<mat-drawer #drawer class="drawer" mode="over" opened="false">
		<ul>
            <li>
                <mat-icon>home</mat-icon>
            </li>
            <li>
                <mat-icon>games</mat-icon>
            </li>
        </ul>
	</mat-drawer>
    <mat-drawer-content class="main contents">
        <router-outlet></router-outlet>
		<!-- <div class="main contents">
			drawer opened: {{drawer.opened}}
			<div>Contents xxxxxx xxxxxx xxxxxx xxxxxx xxxxxx xxxxxx xxxxxx xxxxxx xxxxxx xxxxxxx xxxxxx xxxxxx</div>
			<div style="height: 1000px">&nbsp;</div>
        </div> -->
    </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>
