<div *ngIf="videogame$ | async as videogame" class="product__details-container">
    <div class="product__details">
        <div class="product__details-left">
            <div class="product__title-container">
                <div class="title__left-container">
                    <p class="product-title">{{videogame.name}}</p>
                    <select class="product-platform" name="platform-select" (change)="handleOnChange($event)">
                        <option class="product-platform" *ngFor="let name of videogame.platform.name">{{name}}</option>
                    </select>
                </div>
                <div class="title__right-container">
                    <fa-icon class="add__favourites-icon" [icon]="['fas', 'heart']"></fa-icon>
                </div>
            </div>
            <img class="product-cover" id="cover-image" src="{{videogame.platform.cover[coverIndex]}}">
            <div class="product-general-info">
                <div class="general-info-container">
                    <div class="genre-container">
                        <p class="genre-title">Genres:</p>
                        <p class="genre" *ngFor="let genre of videogame.genre">{{genre}}</p>
                    </div>
                    <div class="developer-container">
                        <p class="developer-title">Developer:</p>
                        <p class="developer">{{videogame.developer}}</p>
                    </div>
                </div>
                <div class="pegi-container">
                    <img class="pegi-image" src="{{videogame.pegi}}">
                </div>
            </div>
        </div>
        <div class="product__details-right">
            <div class="product__buy">
                <div class="price">
                    <div *ngIf="videogame.sales; else elseBlock"  class="notstrikeout">{{videogame.price | currency: 'EUR'}}</div>
                    <ng-template #elseBlock >
                        <p class="strikeout">
                            {{videogame.price | currency: 'EUR'}}
                        </p>
                    </ng-template>
                    <span class="notstrikeout">{{videogame.salePrice | currency: 'EUR'}}</span>
                    <button class="add-cart">
                        <fa-icon [icon]="['fas', 'cart-plus']"></fa-icon>
                        <p class="add-cart-label">Add to Cart</p>
                    </button>
                </div>
                <div class="info__options-container">
                    <button class="info__options-button">Description</button>
                    <button class="info__options-button">Pictures</button>
                    <button class="info__options-button">Comments</button>
                </div>
                <div *ngIf="videogame.stock; else elseColor" class="stock-green">
                        <fa-icon [icon]="['fas', 'boxes']"></fa-icon>
                        <p class="stock">Stock available</p>
                </div>
                <ng-template #elseColor>
                    <div class="not-stock">
                        <fa-icon class="stock-red" [icon]="['fas', 'boxes']"></fa-icon>
                        <p class="stock">Stock not available</p>
                    </div>
                </ng-template>
            </div>
            <div class="product__description-container" id="see-description"> 
                <h1>{{videogame.name}}</h1>
                <div  class="product__description" *ngFor="let item of videogame.description">
                    <p class="description-titles">{{item.title}}</p>
                    <div class="description-text" *ngFor="let text of item.text">
                        {{text}}
                    </div>
                </div>
            </div>
            <div class="product__images-container">

            </div>
            <div class="product__comments-container">

            </div>
        </div>
    </div>
</div>