.product__details-container {
    margin-top: 10px;
    padding: 50px;
    .product__details {
        display: flex;
        .product__details-left{
            display: flex;
            flex-direction: column;
            border: 2px solid #161616;
            .product__title-container {
                background: #f0da14;
                padding-bottom: 15px;
                border-bottom: 2px solid #161616;
                display: flex;
                align-items: center;
                .title__left-container {
                    .product-title {
                        margin-top: 20px;
                        margin-left: 30px;
                        font-size: 25px;
                        font-weight: bold;
                    }
                    .product-platform {
                        display: inline;
                        font-weight: bold;
                        cursor: pointer;
                        outline: none;
                        background: white;
                        color: #161616;
                        border: none;
                        height: 25px;
                        margin-left: 30px;
                        padding-left: 5px;
                    }
                }
                .title__right-container {
                    padding-left: 40px;
                    padding-right: 10px;
                    padding-top: 20px;
                    .add__favourites-icon {
                        font-size: 40px;
                        cursor: pointer;
                    }
                    .add__favourites-icon:hover {
                        color: red;
                    }
                }
            }
            .product-cover {
                width: 400px;
                height: 500px;
            }
            .product-general-info {
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-top: 2px solid #161616;
                padding-top: 10px;
                padding-left: 30px;
                padding-right: 30px;
                background: #f0da14;
                .general-info-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-right: 30px;
                    width: 100%;
                    .genre-container {
                        display: flex;
                        justify-content: space-between;
                        background: white;
                        padding: 5px;
                        padding-right: 10px;
                        padding-left: 10px;
                        height: 20px;
                        border-bottom: 2px solid #161616;
                        .genre-title {
                            font-weight: bold;
                        }
                        .genre {
                            margin-left: 10px;
                            font-weight: bold;
                        }
                    }
                    .developer-container {
                        display: flex;
                        justify-content: space-between;
                        background: white;
                        padding: 5px;
                        padding-right: 10px;
                        padding-left: 10px;
                        height: 20px;
                        margin-top: 5px;
                        margin-bottom: 10px;
                        border-bottom: 2px solid #161616;
                        .developer-title {
                            font-weight: bold;
                        }
                        .developer {
                            margin-left: 10px;
                            font-weight: bold;
                        }
                    }
                }
                .pegi-container {
                    margin-bottom: 5px;
                    .pegi-image {
                        width: 70px;
                        height: 80px;
                    }
                }
            }
        }
        .product__details-right {
            width: 100%;
            border: 2px solid #161616;
            height: 696px;
            .product__buy {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 20px;
                padding-bottom: 20px;
                height: 54px;
                background: #161616;
                width: 100%;
                .stock-green{
                    margin-left: 30px;
                    font-size: 20px;
                    margin-right: 30px;
                    margin-top: 10px;
                    color: green;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;
                    align-items: center;
                    .stock {
                        margin-top: 5px;
                        font-weight: bold;
                        font-size: 12px;
                        color: green;
                    }
                }
                .not-stock {
                    margin-left: 30px;
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 30px;
                    .stock-red{
                        margin-top: 5px;
                        font-size: 25px;
                        color: red;
                    }
                }
                .price {
                    display: inline-flex;
                    align-items: center;
                    .notstrikeout {
                        color: white;
                        margin-left: 30px;
                        font-size:2em;
                    }
                    .notstrikeout:hover {
                        text-decoration: underline;
                    }
                    .strikeout {
                        color: white;
                        // margin-left: 30px;
                        font-size: 2em;
                        line-height: 1em;
                        position: relative;
                        display: flex;
                        align-items: center;
                        .onsale-container {
                            // margin-left: 90px;
                            margin-left: 20px;
                            margin-right: 20px;
                            height: 40px;
                            width: 100px;
                            background: red;
                            .onsale {
                                padding-top: 5px;
                                text-align: center;
                                font-size: 18px;
                                font-weight: bold;
                            }
                        }
                        .onsale-container:hover {
                            background: rgb(175, 5, 5);
                        }
                    }
                    .strikeout::after {
                        border-bottom: 0.125em solid red;
                        content: "";
                        left: 50;
                        width: 90px;
                        position: absolute;
                        right: 0;
                        top: 40%;
                        transform: rotate(-15deg);
                    }
                }
                .info__options-container {
                    height: 100%;
                    margin-left: 10px;
                    position: static;
                    .info__options-button {
                        width: 130px;
                        height: 100%;
                        font-size: 16px;
                        font-weight: bold;
                        background: #f0da14;
                        color: #161616;
                        margin-right: 15px;
                        margin-left: 10px;
                        outline: none;
                        border: none;
                        cursor: pointer;
                    }
                    .info__options-button:hover {
                        transform: scale(1.1);
                        background: #f0aa14;
                    }
                }
                .add-cart {
                    display: inline-flex;
                    align-items: center;
                    outline: none;
                    border: none;
                    background: #161616;
                    color: white;
                    font-size: 30px;
                    cursor: pointer;
                    margin-left: 15px;
                }
                .add-cart-label {
                    visibility: hidden;
                    font-size: 20px;
                    margin-top: 11px;
                    border-radius: 15px;
                    font-weight: bold;
                    background: #f0da14;
                    color: #161616;
                    width: 130px;
                    height: 26px;
                    padding-top: 5px;
                    margin-left: 2px;
                }
                .add-cart:hover {
                    .add-cart-label{
                        visibility: visible;
                    }
                    color: #f0da14;
                }
            }
            .product__description-container {
                display: block;
                height: 600px;
                overflow: auto;
                h1 {
                    padding: 30px;
                    font-weight: bold;
                    font-size: 30px;
                }
                .product__description {
                    padding-left: 30px;
                    padding-right: 30px;
                    .description-titles {
                        font-weight: bold;
                        font-size: 17px;
                    }
                    .description-text {
                        margin-bottom: 20px;
                    }
                }
            }
            .product__images-container {
                display: none;
                height: 600px;
                overflow: auto;
                .images-container {
                    padding: 50px;
                    display: flex;
                    flex-wrap: wrap;
                    .images-resolution {
                        margin: 12.5px;
                        width: 425px;
                        height: 225px;
                    }
                }
            }
        }
        .product__description-container::-webkit-scrollbar {
            width: 15px;
            background: #161616;
        }
           
        .product__description-container::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px #161616;
        }
           
        .product__description-container::-webkit-scrollbar-thumb {
            background-color: #f0da14;
            outline: none;
        }
    }
}