.product__details-container {
    margin-top: 10px;
    padding: 50px;
    .product__details {
        display: flex;
        .product__details-left{
            display: flex;
            flex-direction: column;
            border: 2px solid #161616;
            .product__title-container {
                background: #f0da14;
                padding-bottom: 15px;
                border-bottom: 2px solid #161616;
                .product-title {
                    margin-top: 20px;
                    margin-left: 30px;
                    font-size: 25px;
                    font-weight: bold;
                }
                .product-platform {
                    display: inline;
                    font-weight: bold;
                    cursor: pointer;
                    outline: none;
                    background: white;
                    color: #161616;
                    border: none;
                    height: 25px;
                    margin-left: 30px;
                    padding-left: 5px;
                }
            }
            .product-cover {
                width: 400px;
                height: 500px;
            }
            .product-general-info {
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-top: 2px solid #161616;
                padding-top: 10px;
                padding-left: 30px;
                padding-right: 30px;
                background: #f0da14;
                .general-info-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-right: 30px;
                    width: 100%;
                    .genre-container {
                        display: flex;
                        justify-content: space-between;
                        background: white;
                        padding: 5px;
                        padding-right: 10px;
                        padding-left: 10px;
                        height: 20px;
                        border-bottom: 2px solid #161616;
                        .genre-title {
                            font-weight: bold;
                        }
                        .genre {
                            margin-left: 10px;
                            font-weight: bold;
                        }
                    }
                    .developer-container {
                        display: flex;
                        justify-content: space-between;
                        background: white;
                        padding: 5px;
                        padding-right: 10px;
                        padding-left: 10px;
                        height: 20px;
                        margin-top: 5px;
                        margin-bottom: 10px;
                        border-bottom: 2px solid #161616;
                        .developer-title {
                            font-weight: bold;
                        }
                        .developer {
                            margin-left: 10px;
                            font-weight: bold;
                        }
                    }
                }
                .pegi-container {
                    margin-bottom: 5px;
                    .pegi-image {
                        width: 70px;
                        height: 80px;
                    }
                }
            }
        }
        .product__details-right {
            width: 100%;
            border: 2px solid #161616;
        }
    }
}