.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: #161616;
    color: #ffffff;
    padding-right: 50px;
    .header-container {
        height: inherit;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
            cursor: pointer;
            outline: none;
            padding-top: 5px;
            width: 115px;
            height: 70px;
        }
        fa-icon {
            outline: none;
            font-size: 25px;
            cursor: pointer;
        }
        fa-icon:hover, .calendar-icon:hover, .search-icon:hover, .sidenav-open:hover, .sidenav-close:hover {
            color:#f0da14;
        }
        .header__left {
            display: flex;
            align-items: center;
            .calendar-icon {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                margin-top: 15px;
                fa-icon {
                    margin-bottom: 3px;
                    margin-left: 17px;
                }
                p {
                    margin-top: 5px;
                }
            }
            .search-icon {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                margin-top: 15px;
                fa-icon {
                    margin-left: 5px;
                    margin-bottom: 3px;
                }
                p {
                    margin-top: 5px;
                }
            }
            .sidenav-open {
                cursor: pointer;
                margin-top: 15px;
                display: flex;
                flex-direction: column;
                fa-icon {
                    margin-bottom: 2px;
                    margin-left: 7px;
                }
                p {
                    margin-top: 5px;
                }
            }
            .sidenav-close {
                cursor: pointer;
                margin-top: 15px;
                display: flex;
                flex-direction: column;
                fa-icon {
                    margin-bottom: 2px;
                    margin-left: 7px;
                }
                p {
                    margin-top: 5px;
                    margin-left: -15px;
                }
            }
            fa-icon {
                margin-right: 50px;
            }
        }
        .header__right {
            fa-icon {
                margin-left: 50px;
            }
        }
    }
}