.navbar {
    position: sticky;
    top: 0;

    .navbar-top {
        box-sizing: border-box;
        background: rgb(45, 45, 46);
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-left: 50px;
        height: 80px;
        width: 100%;
    }

    .navbar-left {
        padding-top: 10px;
        flex: 1;
        display: flex;
    }

    .navbar-center {
        padding-top: 10px;
        flex: 1;
        color: white;
    }

    .navbar-right {
        padding-top: 10px;
        display: flex;
        padding-right: 50px;
    }

    .menu, .calendar, .login, .cart {
        color: white;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p{
        font-size: 16px;
    }

    .nav-btn {
        color: white;
        background: rgb(45, 45, 46);
        border: none;
        outline: none;
        cursor: pointer;
    }

    .nav-btn:hover {
        color: rgb(243, 233, 86);
    }
}

mat-sidenav-container {
    z-index: -1;
    background: none;


    mat-sidenav {
        width: 250px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    mat-nav-list {
        padding-top: 30px;
    }

    a:hover {
        color: rgb(243, 233, 86);
    }

    .close-right {
        float: right;
        top: 0;
        cursor: pointer;
    }

    .close-left {
        float: left;
        top: 0;
        cursor: pointer;
    }
}

