<div class="navbar">
    <div class="navbar-top">
        <div class="navbar-left">
            <div class="menu">
                <button class="nav-btn" (click)="left.toggle()">
                    <mat-icon>menu</mat-icon>
                    <p>Menu</p>
                </button>
            </div>
            <div class="calendar">
                <button class="nav-btn">
                    <mat-icon>today</mat-icon>
                    <p>New Releases</p>
                </button>
            </div>
        </div>
        <div class="navbar-center">
            <p>Press-Start Logo</p>
        </div>
        <div class="navbar-right">
            <div class="login" (click)="right.toggle()">
                <button class="nav-btn">
                    <mat-icon>account_circle</mat-icon>
                    <p>Log In</p>
                </button>
            </div>
            <div class="cart">
                <button class="nav-btn">
                    <mat-icon>shopping_cart</mat-icon>
                    <p>Cart</p>
                </button>
            </div>
        </div>
    </div>
</div>

<mat-sidenav-container>
    <mat-sidenav #left position="start">
        <a class="close-left" (click)="left.toggle()" ><mat-icon>close</mat-icon></a>
        <mat-nav-list>
            <a mat-list-item > PlayStation </a>
            <a mat-list-item > Xbox </a>
            <a mat-list-item > Nintendo </a>
            <a mat-list-item > Merchandising </a>
            <a mat-list-item > Sales </a>
            <a mat-list-item > New Releases </a>
            <a mat-list-item > What's to come </a>
            <a mat-list-item > Articles / News </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav #right position="end">
        <a class="close-right" (click)="right.toggle()"><mat-icon>close</mat-icon></a>
        <mat-nav-list>
            <div></div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>